<footer class="footer">
    <div class="container-fluid">
        
        
         <marquee direction="left" scrollamount="5" scrolldelay="1">
            COPYRIGHT 2023 PMS/4 *** NLNG 9 LIFE SAVING RULES:

            1. BYPASSING SAFETY CONTROLS: Obtain authorisation before overriding or disabling safety controls.

            2. CONFINED SPACE: Obtain authorisation before entering a confined space.

            3. DRIVING: Follow safe driving rules.

            4. ENERGY ISOLATION: Verify isolation and zero energy before work begins.

            5. HOT WORK: Control flammables and ignition sources.

            6. LINE OF FIRE: Keep yourself and others out of the line of fire.

            7. SAFE MECHANICAL LIFTING: Plan lifting Operations and control the area.

            8. WORK AUTHORIZATION: Work with a valid work permit when required.
            
            9. WORKING AT HEIGHT: Protect yourself against a fall when working at height.

            </marquee> 
        {% comment %} <div class="copyright ml-auto">
            PMS 2023, made with <i class="fa fa-heart heart text-danger"></i> by PMS/4
        </div>				 {% endcomment %}
    </div>
</footer>